$main_fontSize: 10px;
$fontSize:1.2rem;
$margin:8rem;
$mainPadding:8rem 0;
$auto:0 auto;
$center:center;

$bgGray: #f8f8f8;
$bgColor: #95e1d3;
$whiteColor: #fff;
$lineColor: #f38181;
$gradient:-webkit-linear-gradient(top, rgba(243,129,129,0.8) 0%,rgba(252,227,138,0.8) 100%);

$RobotoRegular: 'Roboto-Regular';
$RobotoLightItalic: 'Roboto-Light-Italic';
$MontserratBold: 'Montserrat-Bold';
$MontserratRegular: 'Montserrat-Regular';
$KaushanScriptRegular: 'Kaushan Script';

$BG: url(../imgs/BG.png);
$logosBG: url(../imgs/logos.png);
$homeBG: url(../imgs/home.png);
$clientsBG: url(../imgs/clients.png);

$instgramImgs: insta1 , insta2 , insta3 , insta4 , insta5 , insta6 , insta7 , insta8 , insta9;

